body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #A3DFE4;
  min-height: 100vh; }

#main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-height: 350px;
  margin: 40px auto;
  background: white;
  padding: 30px; }
  @media (max-width: 650px) {
    #main {
      width: 75%; } }

#page_wrap {
  background: transparent url("../img/cat_bg.png") right bottom no-repeat;
  background-size: 50% auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media (max-width: 650px) {
    #page_wrap {
      background-size: 100% auto; } }

#page_footer {
  background: #000;
  color: #fff;
  text-align: center; }
  #page_footer a {
    color: #A3DFE4; }

.gif-header {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  text-align: center; }

img {
  display: block;
  max-width: 100%; }

button {
  display: inline-block;
  padding: 10px 20px;
  background: #E98EEC;
  border: none;
  outline: none;
  font-weight: bold; }
  button:active {
    background: #a363a5; }

#cat-container {
  text-align: center; }
  #cat-container a {
    display: inline-block;
    position: relative;
    margin-top: 20px; }
    #cat-container a:before {
      content: "";
      display: block;
      width: 48px;
      height: 48px;
      position: absolute;
      bottom: -58px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background: url(../img/play.svg) center center no-repeat; }
    #cat-container a.js-animate:before {
      background: url(../img/pause.svg) center center no-repeat; }

.loader {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.loader svg {
  height: 64px;
  width: 64px;
  color: #A3DFE4;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
          transform: scale3d(1.5, 1.5, 1.5);
  -webkit-animation: pulse-kitty 1s infinite;
          animation: pulse-kitty 1s infinite;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

@-webkit-keyframes pulse-kitty {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes pulse-kitty {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
