body {
  background: #A3DFE4 url("/img/cat_bg.png") right bottom no-repeat;
  background-size: 50% auto;
  min-height: 100vh; }

#main {
  width: 40%;
  min-height: 350px;
  margin: 40px auto 0 auto;
  background: white;
  padding: 30px; }

.gif-header {
  margin-bottom: 20px;
  text-align: center; }

img {
  display: block;
  max-width: 100%; }

button {
  display: inline-block;
  padding: 10px 20px;
  background: #E98EEC;
  border: none;
  outline: none;
  font-weight: bold; }
  button:active {
    background: #a363a5; }

#cat-container {
  text-align: center; }
  #cat-container a {
    display: inline-block;
    position: relative; }
    #cat-container a:before {
      content: "";
      display: block;
      width: 48px;
      height: 48px;
      position: absolute;
      bottom: -58px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background: url(../img/play.svg) center center no-repeat; }
    #cat-container a.js-animate:before {
      background: url(../img/pause.svg) center center no-repeat; }
