body {
  background: #A3DFE4 url('/img/cat_bg.png') right bottom no-repeat;;
  background-size: 50% auto;
  min-height: 100vh;
}

#main {
  width: 40%;
  min-height: 350px;
  margin: 40px auto 0 auto;
  background: white;
  padding: 30px;
}

.gif-header {
  margin-bottom: 20px;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background: #E98EEC;
  border: none;
  outline: none;
  font-weight: bold;

  &:active {
    background: #a363a5;
  }
}

#cat-container {
  text-align: center;

  a {
    display: inline-block;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 48px;
      height: 48px;
      position: absolute;
      bottom: -58px;
      left: 50%;
      transform: translateX(-50%);
      background: url(../img/play.svg) center center no-repeat;
    }

    &.js-animate:before {
      background: url(../img/pause.svg) center center no-repeat;
    }
  }
}

.loader svg {
  height: 64px;
  width: 64px;
  color: #82057A;
  animation: 
    pulse-kitty 1s infinite,
    rainbow-kitty 5s infinite;
  transform-origin: 50% 50%;
  animation-timing-function: ease, step-end;
}

@keyframes pulse-kitty {
  0%   { 
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% { 
    transform: scale(1);
  }
}

@keyframes rainbow-kitty {
  0% {color: #82057A;}
  20% {color: #E98EEC;}
  40% {color: #D4FA8D;}
  60% {color: #FF8E9F;}
  80% {color: #A3DFE4;}
  100% {color: #82057A;}
}
